.news {
    padding: 4rem 2rem;
    text-align: center;
  }
  .news h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: $secondary-color;
  }
  .news-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
  }
  .news-item {
    background: #fff;
    padding: 1rem;
    max-width: 16rem;
    box-shadow: $box-shadow;
    text-align: left;
  }
  .news-item img {
    width: 100%;
  }
  .news-item h3 {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  .news-item p {
    font-size: 1rem;
  }
  