/* Sektion: Rubrik och text */
.intro {
    padding: 3rem 2rem;
    text-align: center;
    background: #f8f8f8;
  }
  .intro h2 {
    font-size: 2rem;
    margin-bottom: 1.2rem;
    color: #00587b;
  }
  .intro p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 2rem;
    color: #00587b;
  }