@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin button {
    background: $button-bg;
    color: $button-text;
    padding: 0.6rem 1.6rem;
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    
    &:hover {
      background: lighten($button-bg, 10%);
    }
  }
  
  @mixin box-shadow {
    box-shadow: $box-shadow;
  }
  