@use "../abstracts/variables";

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: variables.$text-light;
  padding: 0.5rem;
}

.navbar {
  box-sizing: border-box;
  display: flex;
  min-height: 70px;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  padding: 0% 2rem;
}
.logo {
  width: 3.2rem;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

nav-links {
  transition: 0.7s ease;
}
.nav-link:hover {
  text-decoration: underline;
  color: variables.$accent-color;
}

/* Hamburgermeny-knapp */
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgb(255, 255, 255);
}
